<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lucasrezende.igor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/igor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/igor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.login.RegisterActivity" />
        <activity android:name=".controller.login.LoginActivity" />
        <activity android:name=".controller.NavigationActivity" />
        <activity android:name=".controller.adventures.adventureinfo.players.NewPlayerActivity" />
        <activity
            android:name=".controller.adventures.adventureinfo.AdventureInfoActivity"
            android:theme="@style/players" />
        <activity android:name=".controller.adventures.NewAdventureActivity" />
        <activity android:name=".controller.adventures.adventureinfo.sessions.NewSessionActivity" />
        <activity android:name=".controller.login.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.adventures.adventureinfo.sessions.diceroll.DiceRollActivity"
            android:label="@string/title_activity_dice_roll"
            android:theme="@style/AppTheme" />
        <activity android:name=".controller.adventures.adventureinfo.sessions.diceroll.RollResultsActivity"></activity>
    </application>

</manifest>